<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hagd.mapper.BoardMapper">
<select resultType="com.hagd.vo.BoardVO" id="selectAll">SELECT * FROM board order by date desc</select>
<select resultType="com.hagd.vo.BoardVO" id="searchAll">SELECT * FROM board WHERE content LIKE concat('%',#{search},'%')</select>
<select resultType="com.hagd.vo.BoardVO" id="selectBuyersBoard">select * from board where user_status=0</select>	
<select resultType="com.hagd.vo.BoardVO" id="selectSellersBoard">select * from board where user_status=1</select>	
<select resultType="com.hagd.vo.BoardVO" id="selectBoardOrderByHit">select * from board order by hit desc</select>
<select resultType="com.hagd.vo.BoardVO" id="selectUserHistory">select * from board where idx=#{idx}</select>
</mapper>